body {
    position: relative;
    padding: 60px 0 130px 0;
    min-height: 100vh;
}

body[class="pages#home"] {
    background-color: $color__bg;
    background-image: $bg__boxes;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a:focus, a:hover {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    min-height: 60px;
    justify-content: center;
    flex-flow: column wrap;
    background: linear-gradient(to right, $color__red, $color__pink);
    transition: margin .25s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    a, button { display: flex; }
    button { top: 0.75rem; padding: 4px 0; }
}

#navbarCollapse ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    li a {
       font-family: $font__text;
       color: #fff;
       font-size: 20px;
       padding: 24px 0 16px 0;
       justify-content: center;
   }
}

footer {
    height: 130px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, $color__red, $color__pink);
    background-size: 100% 150%;
    background-position: center bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    a { zoom: 1.2; margin-bottom: 8px; }
    small { font-size: 8px; color: #fff; }
}


//HOME
#brand {
    height: calc(100vh - 60px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $bg__gradient;
    .scroll {
        position: absolute;
        bottom: 10px;
    }
}

#links {
  > a {
      height: 224px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      background-size: cover;
      h1 { margin: 0; }
      span {
          display: flex;
          align-items: center;
          &:before, &:after {
              content: '';
              width: 30px;
              background: rgba($color__sec, .5);
              height: 1px;
              margin: 5px;
          }
      }
  }
  .projetos { background-image: url(image_path('projetos.jpg')); }
  .quemsomos { background-image: url(image_path('quemsomos.jpg')); }
}



// PEPSI
body[class="pepsi#index"] {
  background-image:  url(image_path('pattern-pepsi.png')), $bg__gradient_full;
}

#project {
    padding: 40px 16px 0 16px;
    > img {
        width: 100%;
        height: 240px;
        object-fit: contain;
    }
    h1 { margin: 0.67em 0 0 0; }
    p { color: #fff; margin-left: 24px; }
    .carousel img { max-height: 300px; }
    iframe {
      width: calc(100% + 32px);
      min-height: 100%;
      margin-left: -16px;
      margin-bottom: -5px;
    }
}


//Quem Somos
body[class="quem_somos#index"] {
  background-image: $bg__gradient_full;
}

#quem-somos {
    padding: 12px;
    color: #fff;
    > h1 {
       padding: 0 12px;
       margin: -24px 0 0 0;
    }
    p { padding: 16px 16px 0 40px; }

    .team {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 16px;
      img { width: 48vw; height: 38vw; }
      .role {
          padding: 12px;
          h2 { margin-left: -24px; }
      }
    }

    #contact-form {
      margin: 40px 0;

      form { padding: 16px 32px 0 40px; }
      .form-group { margin-bottom: .5rem; }
      label, .help-block{ display: none; }
      ::-webkit-input-placeholder  { color:rgba(255, 255, 255, 0.5); }
      input, textarea {
          background-color: rgba(255, 106, 236, 0.85);
          color: #fff;
          border-radius: 0;
          border-color: rgba(255, 255, 255, 0.5);
      }
      input.btn{
          width: 100%;
          background-color: #fff;
          color: #a93569;
      }
    }

}
