.messageNoty {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  > span{display: none;}

  &.success, &.notice {
    ul, li, .noty_message {
      border: none !important;
      background-color: $color__bg !important;
      color: #fff !important;
      @include titles;
    }
  }
  .noty_bar {
    font-size: 20px;
    width: 100%;
    text-align: center;

    .noty_message {
      font-size: 16px !important;
      line-height: 24px !important;
      padding: 20px !important;
    }
  }
}
