body[class="pepsi#index"] {
  background-image:  url(image_path('pattern-pepsi.png')), $bg__gradient_full;
}

#project {
    padding: 40px 16px 0 16px;
    > img {
        width: 100%;
        height: 240px;
        object-fit: contain;
        object-position: 46% 50%;
    }
    h1 { margin: 0.67em 0 0 0; }
    p { color: #fff; margin-left: 24px; }
    .carousel-item {
      height: 50vw;
      img { width: 100%; height: auto; }
    }
    iframe {
      width: calc(100% + 32px);
      min-height: 100%;
      margin-left: -16px;
      margin-bottom: -5px;
    }
}


//Desktop only
#scroll-project {
    margin: 32px auto 0px auto;
    width: 2px;
    opacity: .5;
}
#project-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: none;
    li {
        font-size: 2.5em;
        a {
            @include titles;
            opacity: .6;
            padding: 8px 0;
            background-color: transparent;
            border: none;
            &.active {
                opacity: 1;
                border-bottom: solid 2px;
                border-color: #fff;
            }
        }
    }
}
#project-content {
    > div:not([id="processo"]) {
      max-width: 768px;
      margin: 0 auto;
    }
    #processo p {
        max-width: 768px;
        margin: 0 auto;
    }
}

#mansory {
    padding: 32px 0;
    margin-left: -16px;
    width: 100vw;
    overflow-x: scroll;
}
.grid{
  height: calc(194px * 2);
  .box img{
    display: block;
    width: 192px;
    height: 192px;
  }
  .box-w img{ width: 384px; }
  .box-h img{ height: 384px; }
  .box-b img{ width: 384px; height: 384px; }
}



@include media-breakpoint-down(md) {
    #project-content > div {
        display: block;
        opacity: 1;
    }
}

@include media-breakpoint-up(lg) {
    #project {
        > img {
            height: 500px;
            object-position: 48% 50%;
        }
        h1 { display: none; }
        p { margin-left: 0; }
        #project-content { padding: 80px 0; }
        #gameplay.active {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            img {
                flex: 0 1 420px;
                height: 800px;
            }
        }
        iframe {
            background-image: $bg__gradient_full;
            position: absolute;
            width: 296px;
            height: 512px;
            min-height: auto;
            top: 106px;
        }
    }
}
