.messageNoty {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  > span{display: none;}

  &.success, &.notice {
    ul, li, .noty_message {
      border: none !important;
      background-color: lightblue !important;
      color: darkblue !important;
    }
  }
  .noty_bar {
    font-size: 26px;
    width: 100%;
    text-align: center;

    .noty_message {
      font-size: 22px !important;
      padding: 20px !important;
    }
  }
}